@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo, .header-content h1 {
    color: #f9faf8;
}

.header-links a, .header-content {
    color: #e5e7eb;
}

.header-content button {
    background-color: #3882f6;
    color: inherit;
}

.header-nav, .header-content {
    width: 1024px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* hero section styles */

.header-content {
    display: flex;
    gap: 50px;
    padding-top: 100px;
    padding-bottom: 130px;
}

.hero-content h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
}

.hero-content button {
    margin-top: 12px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

/* feature section */

.feature {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 120px;
}

.feature h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.feature-items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.feature-item {
    width: 170px;
    color: #6f6f6f;
}

.feature-item h3 {
    color: #1f2937;
    margin: 10px 0;
}

.feature-item img {
    width: 168px;
    border: 3px solid #3882f6;
    border-radius: 20px;
}

/* testimonial section */

.testimonial {
    background-color: #e5e7eb;
}

.testimonial .quote {
    width: 800px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 100px;
}

.testimonial blockquote {
    color: #1f2937;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

.testimonial figcaption {
    text-align: right;
    font-size: 28px;
    font-weight: 900;
}