@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-columns {
    display: flex;
}

.header-logo, .header-content h1 {
    color: #f9faf8;
}

.header-links a, .header-content {
    color: #e5e7eb;
}

.header-content button {
    background-color: #3882f6;
    color: inherit;
}

.header-nav, .header-content {
    width: 1024px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-nav a {
    text-decoration: none;
    font-size: 18px;
}

.header-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

/* hero section styles */

.header-content {
    padding: 100px 0;
}

.hero-content h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
}